[alias]
  #View the current working status
  s = status

  # Amend th current staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD


[color]
	# Use colors in Git commands that are capable of colour
  ui = auto


[color "branch"]
  current = yellow revrese
  local = yellow
  remote = green


[color "diff"]
  meta = yellow bold
  frag = magenta bold  # line info
  old = red            # deletions
  new = green          # additions


[color "status"]
  added = yellow
  changed = green
  untracked = cyan


[credential]
	helper = osxkeychain


[push]
	default = simple


[core]
	autocrlf = input


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Stephen Parker
	email = shurakaisoft@gmail.com
